//Form items
form {
  .form-control {
    border-color: transparent;
    background-color: cv("gray-50");
    transition: $defaultTransition;
    &:focus {
      box-shadow: cv("focus-shadow");
      border-color: cv("focus-border");
    }
  }
  .form-check-input {
    &:focus {
      box-shadow: cv("focus-shadow");
      border-color: cv("focus-border");
    }
  }
  // all inputs except radios and checkboxes inherit from form-control
  input[type="text"],
  input[type="search"],
  input[type="url"],
  input[type="tel"],
  input[type="number"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  input[type="email"],
  input[type="file"],
  input[type="password"],
  select,
  textarea {
    @extend .form-control;
  }
  input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
  }
  input[type="reset"] {
    @extend .btn;
    @extend .btn-light;
  }

  .action-button {
    @extend .btn;
    @extend .btn-primary;
    &.cf7mls_back {
      @extend .btn-secondary;
      margin-left: 0;
      float: left;
    }
  }
  //contact us page form
  &.form label {
    margin-bottom: 0.3rem;
    margin-top: 2em;
    font-size: 0.9rem;
  }
}

.input-group input[type="text"] {
  background-color: transparent;
}

// @import "./contact-form7"; // <-------- Contact Form 7 - Bootstrap 4 support
