@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir-Regular.eot");
  src: url("../fonts/Vazir-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-Regular.woff2") format("woff2"),
    url("../fonts/Vazir-Regular.woff") format("woff"),
    url("../fonts/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir-Bold.eot");
  src: url("../fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-Bold.woff2") format("woff2"),
    url("../fonts/Vazir-Bold.woff") format("woff"),
    url("../fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

// @import "../../../../plugins/woocommerce/assets/css/woocommerce-layout-rtl.css";
// @import "../../../../plugins/woocommerce/assets/css/woocommerce-rtl.css";
// woocommerce doesn't have scss files for RTL Languages! so we don't import them. we should do everything ourselves. no problem!
// @import "./woocommerce-layout-rtl";

body.rtl {
  font-family: "Vazir", "M PLUS Rounded 1c", sans-serif;
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: 0;
  }
  a {
    text-decoration: none;
  }
  ol,
  ul {
    padding-left: 0;
    padding-right: 2rem;
  }
  .me-auto {
    margin-right: unset !important;
    margin-left: auto !important;
  }
  .navbar {
    .navbar-nav {
      padding-right: 0;
      li {
        a {
          font-weight: normal;
        }
      }

      .dropdown-menu {
        text-align: right;
      }
    }
  }

  .navbar .navbar-nav.search-nav .search-toggle {
    transform: rotate(0);
    &:focus,
    &:hover {
      transform: rotate(90deg);
    }
  }

  .inline-button-searchform .search-inline-button {
    .fa-rotate-90 {
      transform: rotate(0);
    }
  }

  .comments-area {
    .form-floating > label {
      left: auto;
    }
    .form-floating > textarea.form-control {
    }
    .comment-form-cookies-consent input {
      margin-right: 0;
      margin-left: 0.8rem;
    }
    .comment-respond .comment-reply-title .small,
    .comment-respond .comment-reply-title small {
      padding-left: 0;
      padding-right: 1em;
    }
    .comment-body {
      .reply {
        text-align: left;
      }
    }
  }

  .form,
  .form-floating {
    > input[name="url"],
    > input[type="email"] {
      direction: ltr;
    }
  }
  .show-comments i {
    margin-left: auto;
    margin-right: 0.5rem;
  }
  &.single-post {
    .single-mode {
      .entry-header {
        .mini-thumbnail {
          margin-left: 0.4em !important;
          margin-right: 0;
        }
        .entry-meta {
          .posted-on {
            padding-left: 0;
            margin-left: 0;
            padding-right: 1rem;
            margin-right: 0.5rem;
            &:before {
              right: 0;
              left: auto;
            }
          }
        }
      }
    }
  }
  //Mobile
  @media all and (max-width: map-get($grid-breakpoints, md)) {
    .navbar-close {
      &.show {
        right: auto;
        left: 0.5em;
      }
    }
    #main-nav .navbar-collapse.show {
      right: 0;
      left: auto;
    }
    .widget-area#left-sidebar.left-only {
      padding-right: calc(var(--tenet-bs-gutter-x) / 2);
    }
    .navbar .navbar-nav .dropdown-menu {
      padding-left: 0;
      padding-right: 1em;
    }
  }
  .woocommerce-ordering {
    &:after {
      right: auto;
      left: 10px;
    }
  }

  //WOOF
  .woof_products_top_panel {
    ul {
      padding-top: 0.25em !important;
      li {
        float: right;
        margin: 0 0 0 5px !important;
        font-size: 0.8rem;
        button {
          @extend .btn;
          @extend .btn-secondary;
        }
      }
    }
  }
  .woof {
    .woof_list {
      font-size: 0.8rem;
      ul {
        padding-right: 1em;
        li {
          clear: both;
        }
      }
      label.woof_checkbox_label {
        margin-left: 0;
        margin-right: 7px;
      }
      &.woof_list_checkbox {
        padding-right: 0;
        .icheckbox_flat-flat {
          margin-top: 0;
        }
        .woof_childs_list_opener {
          float: left;
          span {
            width: 20px;
            height: 20px;
            position: relative;
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
            &:after {
              display: inline-block;
              font: normal normal normal 2rem FontAwesome; // shortening font declaration
              text-rendering: auto; // optimizelegibility throws things off #1094
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 0.5rem;
              position: absolute;
            }
            &.woof_is_opened:after {
              content: $fa-var-minus;
            }
            &.woof_is_closed:after {
              content: $fa-var-plus;
            }
          }
        }
      }
    }
  }
  .footer-widget {
    line-height: 1;
    font-size: 0.9rem;
    font-weight: normal;
    ul > li a,
    .widget ul > li a {
      font-size: 0.9rem;
      font-weight: normal;
    }
    .wc-block-product-categories-list-item-count {
      font-size: 0.8rem;
    }
  }
  .widget_tenet_popular_post_widget {
    ol {
      padding-right: 0;
      li a .post-thumbnail:before {
        right: 0;
        left: auto;
      }
      &.no-thumb {
        li {
          &:before {
            left: auto;
            right: 0;
            padding-left: 1.4rem;
            padding-right: 0;
          }
        }
      }
    }
  }
}
